$breakpoints: (
        "xs":375px,
        "sm":560px,
        "md":768px,
        "lg":992px,
        "xl":1200px,
        "xxl":1445px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$transition_main: all .2s ease-in-out;
